/* Define font */
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Reset to Default Styles */
html, body, div, span, applet, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, menu { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
ol, ul { list-style-type: none; }
table { border-collapse: collapse; border-spacing: 0; }
caption { text-align: center; }
input, select { vertical-align: middle; }
a:link, a:visited { text-decoration: none; color: #345888; }
a:hover, a:active { text-decoration: none; color: #bd0235; }
::-moz-selection { background-color: #feb256; color: #f8f8f8; }
::selection { background-color: #feb256; color: #f8f8f8; }
/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1; }  
/* clear float problems */
.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.group { display: inline-block; clear: both; }
* html .group { height: 1%; } .group { display: block; }
/* setting starts here */
html, body { font-family: Arial, Helvetica, Sans-serif; font-weight: normal; font-size: 12px; color: #555555; background: #f0f0f0; cursor: default; }
/* general settings */
h1, h2, h3, h4, h5, h6 { font-family: 'BebasNeueRegular', Georgia, "Times New Roman", "Microsoft YaHei", serif; padding: 0 0 10px; color: #333; }
h1 {font-size: 18px;} h2 {font-size: 16px;} h3 {font-size: 16px;}
h4 {font-size: 18px;} h5 {font-size: 14px;} h6 {font-size: 12px;}
strong { font-weight: bold; color: #333; }
em, cite { font-style: italic; color: #888; }
pre, code { font-family: consolas, monospace; }
code { background: #333536; color: #f8f8f0; display: block; padding: 5px 10px; margin: 3px 20px 3px 0; border-left: 3px solid #888a85; }
blockquote { background: url("images/blockquote.png") top left no-repeat; margin: 5px 15px; padding: 8px 5px 6px 28px; font-style: italic; font-size: 15px; color: #aaa; border-right: 3px solid #e0e0e0; }
blockquote span.author { display: block; text-align: right; color: #999; }
blockquote, blockquote q { text-indent: 15px; }

/* containers */
#wrapper { overflow-x: hidden; }
#header { height: 15px; padding: 5px; line-height: 15px; background: #444; }
#tabs { margin-top: 33px; border-top: 2px solid #A8A7A8; }

/* header */
#user { float: right; margin-top: -5px; padding: 5px 8px; color: #eee; }
#username { padding: 3px; }
#user-logout { cursor: pointer; color: #eee; text-decoration: underline; padding: 3px; }
#user-logout:hover { color: #345888; background: #f0f0f0; text-decoration: none; }

/* tabs - nav */
#nav { margin: -29px 10px 0 10px; }
#nav>ul>li { position: relative; display: inline-block; padding: 5px; margin-right: 5px; background: #d6dfed; border: 1px solid #d6dfed; cursor: pointer; border-top: 2px solid #d6dfed; border-bottom: 2px solid #A8A7A8; border-radius: 6px 6px 0 0;}
#nav li>strong { padding: 5px; }
#nav li.tab-selected { border-color: #A8A7A8; border-top: 2px solid #FF5900; border-bottom: 2px solid #f0f0f0; background: #f0f0f0 }
#nav li:hover { background: #E4EAF1; border-top-color: #7BB138; }
#nav li.tab-selected:hover { border-bottom-color: #E4EAF1; border-top-color: #ff5900; }
/* tabs - sub-menu */
.sub-menu-button { display: inline-block; width: 7px; height: 7px; margin-right: 5px; background: url("../img/nav_submenu_normal_open.png") top left no-repeat; }
ul.sub-menu { position: absolute; z-index: 100; width: 100%; background: #E4EAF1; padding: 10px; top: 25px; left: 0px; }
ul.sub-menu li { padding: 2px 0; margin: 2px 0; }
ul.sub-menu li:hover { color: #ff5900; }

/* tabs */
.tab { width: 380px; min-height: 400px; padding: 10px 10px; float: left; }
.hide-tab, .hide-item { visibility: hidden; }
#load-gif { display: block; width: 344px; height: 13px; margin: 0 auto; background: #eee url("../img/indeterminate_bar.gif") top left no-repeat; }

/* tabs - announcement */
.ann-item { padding: 5px; margin: 0 0 10px; background: #F4F3E7; border-left: 3px solid #f0f0f0; }
.ann-item ul { padding: 5px 10px; }
.ann-item h1 { cursor: pointer; padding: 5px; }
.ann-item:hover { border-left-color: #7bb138; background: #f8f8f8; 1#D8F3E0; }
.ann-unread { background: #F6DBC9; }
.ann-content { padding: 5px; }
.ann-action { padding: 5px; margin-top: 5px; background: #ECF2E3; border-top: 1px solid #BECEA5; font-size: 13px; }
.ann-action ul { padding: 0; margin: 0; }
.ann-action li { display: inline-block;  cursor: pointer; padding: 2px 3px; margin-right: 5px; }
.ann-action li:hover { background: #D8E9BB; }
.ann-pushed { color: #999; }
.ann-action img { width: 13px; height: 13px; }
.ann-item-alter { background: #B4C8E6; }

/* tabs - modules */
.mod-item { position: relative; float: left; width: 140px; height: 100px; padding: 10px; margin: 10px 25px 10px 0; background: #E5F7EA; box-shadow: 0px 2px 5px rgba(0,0,0,.1); border: 1px solid #e5f7e0; text-align: center; cursor: pointer; }
.mod-item:hover { background: #DEE7E0; border: 1px solid #7bb138; }
.mod-item h1 { font-size: 32px; padding: 0; }
.mod-item h2 { padding: 0 0 5px 0; }
.mod-info { padding: 10px; }
.mod-label { position: absolute; display: inline-block; width: 25px; height: 25px; padding: 5px; background: #bd0235; border: 2px solid #efefef; font-size: 18px; line-height:25px; color: #fff; box-shadow: 0px 2px 5px rgba(0,0,0,.1); border-radius: 99px; }
.unread { background: #bd0235; top: -13px; right: -13px; }
.zero-unread { background: #888; }
.mod-links li { display: inline-block; }
.mod-id, .file-id, .todo-id, .ann-id { display: none; }

/* tabs - workbin */
#workbin-tab>h1, #module-announce-tab>h1 { color: #bd0235; font-size: 25px; }
.folder { border-bottom: 1px solid #aaa; margin-bottom: 10px; }
.folder h2 { font-size: 20px; padding: 0px; margin-bottom: 5px; border-bottom: 1px dashed #ddd; }
.folder h2>img { width: 23px; height: 23px; }
.file { position: relative; cursor: pointer; float: left; width: 84px; height: 90px; padding: 3px; margin: 0 5px 5px 0; overflow: hidden; text-overflow: ellipsis; }
.sub-folder { clear: both; margin-left: 5px; padding-left: 5px; border-left: 3px solid #88B541; }
.sub-folder .file { width: 90px; }
.file-type { display: block; width: 100%; height: 48px; background: url("../img/empty.png") top center no-repeat; }
.isDownloaded { z-index: 99px; position: absolute; width: 32px; height: 32px; background: url("../img/downloaded.png") no-repeat; top: 0px; right: 5px; }
.doc, .docx { background-image: url("../img/docx.png") }
.ppt, .pptx { background-image: url("../img/pptx.png") }
.xls, .xlsx { background-image: url("../img/xlsx.png") }
.zip, .rar { background-image: url("../img/zip.png") }
.html, .css { background-image: url(../img/html.png) }
.mp3, .wma { background-image: url(../img/music.png) }
.java, .cpp { background-image: url(../img/document.png) }
.pdf { background-image: url("../img/acrobat.png") }
.exe { background-image: url("../img/program.png") }

/* tabs - todo */
#todo-add { padding: 5px 5px 10px; border-bottom: 1px solid #ddd; margin: 0 0 10px; }
#todo-list { font-size: 15px; margin: 0 0 10px; }
#todo-stats { padding: 5px; background: #ECF2E3; border-top: 1px solid #BECEA5; }
.todo-item { padding: 2px 0 5px; margin: 0 0 5px; border-bottom: 1px dashed #dfdfdf; }
.todo-button { float: left; }
.todo-title { display: inline-block; width: 320px; padding: 1px 0; margin: 0 5px; text-overflow: ellipsis; }
.todo-delete { float: right; cursor: pointer; visibility: hidden; padding: 1px 5px; background: #aaa; color: #fff; }
.todo-done { text-decoration: line-through; }
.todo-item:hover .todo-delete { visibility: visible; }
.todo-stats-incomplete { float: left; padding: 4px 0; }
.todo-stats-completed { float: right; padding: 3px 8px; background: #EAECE7; border: 1px solid #95BF50; border-radius: 6px; box-shadow: 0px 2px 5px rgba(0,0,0,.1); }

/* style inputs */
input[type="text"], input[type="password"], textarea { border: 1px solid #ddd; font-size: 18px; width: 350px; padding: 5px 8px 4px; border-radius: 3px; box-shadow: inset 0 2px 4px rgba(0,0,0,.1); -moz-transition: all 0.5s ease-out; }
input[type="text"]:hover, input[type="password"]:hover, textarea:hover { border: 1px solid #888; }
input[type="text"]:focus, input[type="password"]:focus, textarea:focus { background: #fdf3eb; border:1px solid #f2780d; }

/* button */
.button { border-radius: 5px; box-shadow: inset 0 -1px 3px rgba(255,255,255,0.5), 0 2px 2px rgba(0,0,0,0.2); border: 1px solid #ff5f09; padding: 2px 10px; color: #fff; font-family: 'BebasNeueRegular', Arial, sans-serif; font-size: 14px; text-shadow: -1px -1px rgba(0,0,0,0.1), 0 0 15px rgba(255,255,255,0.75); background: #FF5F09; text-decoration: none; font-style: normal; text-transform: none; position: relative; }
.button:hover, .button:focus { box-shadow: inset 0 -1px 3px rgba(255,255,255,0.5), 0 3px 2px rgba(0,0,0,0.2); background: #FF7F09; border-color: #FF7F09; }
.button:active { top: 1px; box-shadow: inset 0 -1px 3px rgba(255,255,255,0.5), 0 1px 2px rgba(0,0,0,0.2); }
.yellow { background: #FFAF09; border-color: #FFAF09; }
.yellow:hover, .yellow:focus { background: #FFCF09; border-color: #FFCF09; }
.red { background: #D81204; border-color: #D81204; }
.red:hover, .red:focus { background: #FF2F1F; border-color: #FF2F1F; }
.blue { background: #166ba9; border-color: #166ba9; }
.blue:hover, .blue:focus { background: #3390CF; border-color: #3390CF; }
