/* Define font */
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Reset to Default Styles */
html, body, div, span, applet, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, menu { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
ol, ul { list-style-type: none; }
table { border-collapse: collapse; border-spacing: 0; }
caption { text-align: center; }
input, select { vertical-align: middle; }
a:link, a:visited { text-decoration: none; color: #345888; }
a:hover, a:active { text-decoration: none; color: #bd0235; }
::-moz-selection { background-color: #feb256; color: #f8f8f8; }
::selection { background-color: #feb256; color: #f8f8f8; }
/* clear float problems */
.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.group { display: inline-block; clear: both; }
* html .group { height: 1%; } .group { display: block; }
/* setting starts here */
html, body { font-family: Arial, Helvetica, Sans-serif; font-weight: normal; font-size: 12px; color: #555555; background: #f0f0f0; cursor: default; }
/* general settings */
h1, h2, h3, h4, h5, h6 { font-family: 'BebasNeueRegular', Georgia, "Times New Roman", "Microsoft YaHei", serif; padding: 0 0 10px; color: #333; }
h1 {font-size: 18px;} h2 {font-size: 16px;} h3 {font-size: 16px;}
h4 {font-size: 18px;} h5 {font-size: 14px;} h6 {font-size: 12px;}
strong { font-weight: bold; color: #333; }
em, cite { font-style: italic; color: #888; }
pre, code { font-family: consolas, monospace; }
code { background: #333536; color: #f8f8f0; display: block; padding: 5px 10px; margin: 3px 20px 3px 0; border-left: 3px solid #888a85; }
blockquote { background: url("images/blockquote.png") top left no-repeat; margin: 5px 15px; padding: 8px 5px 6px 28px; font-style: italic; font-size: 15px; color: #aaa; border-right: 3px solid #e0e0e0; }
blockquote span.author { display: block; text-align: right; color: #999; }
blockquote, blockquote q { text-indent: 15px; }

/* containers */
#wrapper { overflow-x: hidden; }
#header { height: 15px; padding: 5px 10px; line-height: 15px; background: #444; }
#tabs { margin-top: 33px; border-top: 2px solid #A8A7A8; }

/* header */
#header a { color: #eee; text-decoration: underline; padding: 3px; }
#header a:hover { color: #345888; background: #f0f0f0; text-decoration: none; }
/* header - user */
#user { float: right; margin-top: -5px; padding: 5px 8px; color: #eee; }
#username { padding: 3px; }

/* tabs - nav */
#nav { margin: -29px 10px 0 10px; }
#nav li { display: inline-block; padding: 5px; margin-right: 5px; background: #d6dfed; border: 1px solid #d6dfed; cursor: pointer; border-top: 2px solid #d6dfed; border-bottom: 2px solid #A8A7A8; border-radius: 6px 6px 0 0;}
#nav li.tab-selected { border-color: #A8A7A8; border-top: 2px solid #FF5900; border-bottom: 2px solid #f0f0f0; background: #f0f0f0 }
#nav li:hover { background: #E4EAF1; border-top-color: #7BB138; }
#nav li.tab-selected:hover { background: #f0f0f0; border-top-color: #ff5900; }

/* jpConainter */
.jp-container{ width:400px; height:500px; position:relative; }

/* tabs */
.tab { width: 380px; padding: 10px 10px; float: left; }
.hide-tab, .hide-item { visibility: hidden; }

/* tabs - announcement */
.ann-item { padding: 5px; margin-bottom: 10px; background: #F3EFD3; border-left: 3px solid #f0f0f0; }
.ann-item:hover { border-left-color: #7bb138; background: #D8F3E0; }
.ann-item-alter { background: #B4C8E6; }
.ann-item .expand { visibility: hidden; float: right; }
.ann-item h1:hover .expand { visibility: visible }

/* tabs - modules */
.mod-item { position: relative; float: left; width: 140px; height: 100px; padding: 10px; margin: 10px 25px 10px 0; background: #E5F7EA; box-shadow: 0px 2px 5px rgba(0,0,0,.1); border: 1px solid #e5f7e0; text-align: center; }
.mod-item:hover { background: #DEE7E0; border: 1px solid #7bb138; }
.mod-item h1 { font-size: 32px; padding: 0; }
.mod-item h2 { padding: 0 0 5px 0; }
.mod-label { position: absolute; display: inline-block; width: 25px; height: 25px; padding: 5px; background: #bd0235; border: 2px solid #efefef; font-size: 18px; line-height:25px; color: #fff; box-shadow: 0px 2px 5px rgba(0,0,0,.1); border-radius: 99px; }
.unread { background: #bd0235; top: -13px; right: -13px; }
.zero-unread { background: #888; }
.mod-links li { display: inline-block; }

/* style inputs */
input[type="text"], input[type="password"], textarea { border: 1px solid #ddd; padding: 5px 8px 4px; -moz-border-radius: 3px; -webkit-border-radius:3px; border-radius: 3px; -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.1); -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.1); box-shadow: inset 0 2px 4px rgba(0,0,0,.1); -webkit-transition: all 0.5s ease-out; -moz-transition: all 0.5s ease-out; -o-transition: all 0.5s ease-out; }
input[type="text"]:hover, input[type="password"]:hover, textarea:hover { border: 1px solid #888; }
input[type="text"]:focus, input[type="password"]:focus, textarea:focus { -moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.2), 1px 0 5px rgba(247,146,171,1.5); -webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.2), 1px 0 5px rgba(247,146,171,1.5); background:#f8eef8; border:1px solid #f92672; box-shadow:inset 0 2px 4px rgba(0,0,0,.2), 1px 0 5px rgba(247,146,171,1.5); }

/* button */
.button { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: inset 0 -1px 3px rgba(255,255,255,0.5), 0 2px 2px rgba(0,0,0,0.2); -webkit-box-shadow: inset 0 -1px 3px rgba(255,255,255,0.5), 0 2px 2px rgba(0,0,0,0.2); box-shadow: inset 0 -1px 3px rgba(255,255,255,0.5), 0 2px 2px rgba(0,0,0,0.2); border: 1px solid #ff5f09; padding: 2px 10px; color: #fff; font-family: Philosopher, Arial, "Microsoft YaHei", sans-serif; font-size: 16px; text-shadow: -1px -1px rgba(0,0,0,0.1), 0 0 15px rgba(255,255,255,0.75); background: #FF5F09; text-decoration: none; font-style: normal; text-transform: none; position: relative; }
.button:hover, .button:focus { -moz-box-shadow: inset 0 -1px 3px rgba(255,255,255,0.5), 0 3px 2px rgba(0,0,0,0.2); -webkit-box-shadow: inset 0 -1px 3px rgba(255,255,255,0.5), 0 3px 2px rgba(0,0,0,0.2); box-shadow: inset 0 -1px 3px rgba(255,255,255,0.5), 0 3px 2px rgba(0,0,0,0.2); background: #FF7F09; border-color: #FF7F09; }
.button:active { top: 1px; -moz-box-shadow: inset 0 -1px 3px rgba(255,255,255,0.5), 0 1px 2px rgba(0,0,0,0.2); -webkit-box-shadow: inset 0 -1px 3px rgba(255,255,255,0.5), 0 1px 2px rgba(0,0,0,0.2); box-shadow: inset 0 -1px 3px rgba(255,255,255,0.5), 0 1px 2px rgba(0,0,0,0.2); }
.yellow { background: #FFAF09; border-color: #FFAF09; }
.yellow:hover, .yellow:focus { background: #FFCF09; border-color: #FFCF09; }
.red { background: #D81204; border-color: #D81204; }
.red:hover, .red:focus { background: #FF2F1F; border-color: #FF2F1F; }
